<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>ListaProductos</servlet-name>
		<servlet-class>com.ejemplo.web.ListaProductos</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerProducto</servlet-name>
		<servlet-class>com.ejemplo.web.VerProducto</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AgregarCarrito</servlet-name>
		<servlet-class>com.ejemplo.web.AgregarCarrito</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrdenDeCompra</servlet-name>
		<servlet-class>com.ejemplo.web.OrdenDeCompra</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>DetalleProductos</servlet-name>
		<servlet-class>com.ejemplo.web.DetalleProducto</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListaCarrito</servlet-name>
		<servlet-class>com.ejemplo.web.ListaCarritoDeCompra</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FinalizarCompra</servlet-name>
		<servlet-class>com.ejemplo.web.FinalizarCompra</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EliminarCarrito</servlet-name>
		<servlet-class>com.ejemplo.web.EliminarCarrito</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ABMUsuario</servlet-name>
		<servlet-class>com.ejemplo.web.ABMUsuario</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>CompraTarjeta</servlet-name>
		<servlet-class>com.ejemplo.web.CompraTarjeta</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GrabarCarrito</servlet-name>
		<servlet-class>com.ejemplo.web.GrabarCarrito</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListaProductos</servlet-name>
		<url-pattern>/listaProductos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerProducto</servlet-name>
		<url-pattern>/verProducto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgregarCarrito</servlet-name>
		<url-pattern>/agregarCarrito</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrdenDeCompra</servlet-name>
		<url-pattern>/ordenDeCompra</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListaCarrito</servlet-name>
		<url-pattern>/listaCarrito</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetalleProductos</servlet-name>
		<url-pattern>/detalleProductos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinalizarCompra</servlet-name>
		<url-pattern>/finalizarCompra</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarCarrito</servlet-name>
		<url-pattern>/eliminarCarrito</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ABMUsuario</servlet-name>
		<url-pattern>/abmUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompraTarjeta</servlet-name>
		<url-pattern>/compraTarjeta</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GrabarCarrito</servlet-name>
		<url-pattern>/grabarCarrito</url-pattern>
	</servlet-mapping>
</web-app>