<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>Archetype Created Web Application</display-name>
 <servlet>
  <servlet-name>ListaProductos</servlet-name>
  <servlet-class>com.ejemplo.ListaProductos</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>VerProducto</servlet-name>
 	<servlet-class>com.ejemplo.web.VerProducto</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>AgregarCarrito</display-name>
 	<servlet-name>AgregarCarrito</servlet-name>
 	<servlet-class>com.ejemplo.web.AgregarCarrito</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ListaProductos</servlet-name>
  <url-pattern>/listaProductos</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>VerProducto</servlet-name>
 	<url-pattern>/verProducto</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>AgregarCarrito</servlet-name>
 	<url-pattern>/agregarCarrito</url-pattern>
 </servlet-mapping>
</web-app>
